.style-button-1 {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.rounded-button-component {
  border-radius: 150px;
}

.rounded-button-component-locate {
  border-radius: 150px;
}
