
.c-input-style {
  border: 1px solid #E5E5E5 !important;
  background: #ffffff !important;
  border-radius: 5px;
  padding: 0 20px;
  width: 100%;
  font-size: 14px;
  color: #000000;
  outline: none;
  transition: all 0.3s ease;
}
.c-input-style-focus {
  border: 1px solid #146B31 !important;
  background: #ffffff !important;
  border-radius: 5px;
  padding: 0 20px;
  width: 100%;
  font-size: 14px;
  color: #000000;
  outline: none;
  transition: all 0.3s ease;
}
